.login-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;

  & .left-container {
    position: fixed;
    float: left;
    height: 100vh;
    width: 40%;
  }
  & .right-container {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 60%;
    background-color: mix(#fff, #ba5643, 25%);
    /*background: rgb(204, 46, 88);
    background: linear-gradient(
      45deg,
      rgba(204, 46, 88, 1) 0%,
      rgba(255, 189, 106, 1) 100%
    );*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & .login-container {
    width: 100%;
    padding: 2rem;
    height: 350px;

    background-color: #fff;
    /*
    border-radius: 1rem;
    -webkit-box-shadow: 2px 3px 7px -2px rgba(87, 87, 87, 1);
    -moz-box-shadow: 2px 3px 7px -2px rgba(87, 87, 87, 1);
    box-shadow: 2px 3px 7px -2px rgba(87, 87, 87, 1);*/
    /*border: 1px solid #e3e3e3;*/
  }
  & h1 {
    color: mix(#fff, #ba5643, 35%);
    font-size: (5rem);
    font-weight: 900;
    text-shadow:
     	-0.0075em 0.0075em 0 mix(#fff, #ba5643, 55%),
		0.005em 0.005em 0 mix(#fff, #ba5643, 30%),
		0.01em 0.01em 0 mix(#fff, #ba5643, 32%), 
		0.015em 0.015em mix(#fff, #ba5643, 34%), 
		0.02em 0.02em 0 mix(#fff, #ba5643, 36%), 
		0.025em 0.025em 0 mix(#fff, #ba5643, 38%),
		0.03em 0.03em 0 mix(#fff, #ba5643, 42%);
  }
}
